body {
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  box-shadow: 0 4px 10px rgba(11, 10, 10, 0.187);
  background-color: rgba(255, 255, 255, 0.555);
  width: 320px;
  height: 260px;
  padding: 10px;
  margin: 150px auto;
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 1px;
  color: black;
}

p{
  font-size: 14px;
}

select {
  width: 80%;
  padding: 10px;
  margin: 10px 32px auto;
  border-radius: 10px;
  border: 1px solid;
}

.small-container {
  box-shadow: 0 4px 10px rgba(11, 10, 10, 0.187);
  width: 255px;
  height: 120px;
  padding-bottom: 5px;
  margin: 10px auto;
  text-align: center;
  border-radius: 10px;
}

button {
  height: 30px;
  border-radius: 10px;
  border: 1px solid;
}

.preview {
  margin-bottom: 10px;
}





